:root {
	--container-width: 60%;
}

body {
	background-color: #F9F9FA;
	padding-top: 280px;
}

* {
	box-sizing: border-box;
	font-family: Robot, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;

	color: #193E54;
	font-weight: normal;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
	:root {
		--container-width: 70%;
	}
  
}

@media (max-width: 767px) {
	:root {
		--container-width: 90%;
	}

	.header .grid-container {
		grid-template-areas: 
		"hd"
		"su" !important;
	}

	body {
		padding-top: 510px;
	}
}

.container {
	width: var(--container-width);
	margin: auto;
	position: relative;
}

.grid-container {
	display: grid; 
	grid-gap: 16px;
}

.header {
	/*style*/
	background-image: linear-gradient(to right top, #17a4ee, #00aeed, #00b8ea, #00c1e5, #00c9de);
	color: #ffffff;
	font-weight: bold;
	width: 100%;
	position: fixed;
	top:0px;
}

.header .grid-container {
	grid-template-areas: 
		"na na"
		"hd su";
	grid-column-gap: 48px;
	grid-row-gap: 16px;
}

.header .page-nav {
	grid-area: na;
}

.header .page-nav a, .header .page-nav span {
	display: inline-block;
	float: right;
	padding: 4px;
}

.header .page-nav a:hover {
	color: #17a4ee;
	background-color: white;
	cursor: pointer;
}

.header__start {
	padding-top: 36px;
	padding-bottom: 100px;
	height: 510px;
	transition: height 0.4s ease 0s;	
}

.header__fixed {
	top:0;
	right: 0;
	height: 100px;
	width: 100%;
	z-index: 10;
	padding-top: 17px;

	transition: height 0.4s ease 0s;		

}

.header__fixed .grid-container {

	grid-template-areas: 
		"hd na"  
		!important;
}

.header .headline {
	/*pos*/
	position: relative;
	/*right: var(--header-right, 200px);*/
	right: 0px;
	/*style*/
	text-align: left;

	grid-area: hd;
}

.header div, .header a, .header span{
	color: white;
}


.headline-box {
	width: auto;
}

.header .name {
	margin-bottom: 8px;
}

.header .name, .header .pos-concat  {
	/*style*/
	font-size: 2em;
}

.pos-concat {
	padding: 0;
}

.header .pos-detail{
	/*style*/
	font-size: 2.5em; 
}

.header .pos-detail {
	display: inline-block;
	position: relative;
	z-index: 1; 
}

.header .pos-detail::after {
	position: absolute;
	display: block;   /*for the height to work*/
	content: "";
	height: 10px;
	width: 100%;

	top: 35px;
	border-radius: 5px;
	background-color: #ED7D86;
	z-index: -1;

	transition: top 0.4s, height 0.4s;
}

.header .pos-detail__fixed, .header .pos-concat__fixed, .headline-box__fixed {
	font-size: 1rem;
	display: inline-block;
	/*float: right;*/
}


.header .pos-detail:hover {
	cursor: pointer; 
}

.header .pos-detail:hover::after {
	transition: top 0.4s ease 0s, height 0.4s ease 0s;

	top: 0px;
	height: 45px;

}

.header-summary {
	/*text*/
	text-align: justify;
	/*display: block;*/
	grid-area: "su";
	align-self: start;

	opacity: 1;

	transition: opacity 0.3s ease 0;


	overflow: hidden;

}

.header-summary__fixed {
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease 0;	
}


/*project section*/
.section h3 {
	text-align: center;
}

.section {
	margin-top: 72px;
}

.section .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 16px;
	margin-top: 16px;
}

.section .grid-container .grid-content {
	/*box*/
	overflow: hidden;
	min-width: 250px;
	height: 362px;
	/*style*/
	background-color: white;
	border: 6px solid #00aeed;
	border-radius: 10px;
/*	border: 1px solid rgba(13,90,130,0.25);
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(13,90,130,0.2);
	box-shadow: 0 0 2px 1px rgba(13,90,130,0.2);*/

}

.section .grid-content:hover {
	box-shadow: 0 1px 15px 0px rgba(7,45,65, 0.6);
	box-shadow: 0 0 8px 3px rgba(7,45,65, 0.25);
	cursor: pointer;
}

.section .grid-content img {
	max-height: 262px;
}

.section .grid-content-tag {
	border-radius: 5px;
	padding: 4px; 
	display: inline-block;
	background-color: #ED7D86;
	color: white;
}

.section .grid-content-footer {
	min-height: auto;
	padding: 8px 16px;
}

.section .grid-content-footer .secondary {
	text-align: right;
	font-size: 0.8em;
	color: #88A8BB;
}

.section .grid-content-footer div:not(:first-child){
	margin-top: 4px;
}

.section .grid-content-header {
	font-weight: bold;
}