* {
	box-sizing: border-box;
	font-family: Robot, Arial, Helvetica, sans-serif;
}
body {
	margin: 0;
	padding: 0;

	position: relative;
}

.header {
	/*style*/
	background: #669FBA;
	color: #ffffff;
	font-weight: bold;

	/*box*/

	min-height: 600px;
}

.header .headline {
	/*pos*/
	position: absolute;
	right: 200px;
	top: 100px;

	/*style*/
	text-align: right;
	border-style: 10px solid white;
}

.header .name, .header .pos-concat  {
	/*style*/
	font-size: 24pt;
}

.header .pos {

}

.pos-detail {
	padding: 5px 10px;
}

.pos-concat {
	padding: 0;
}

.header .pos-detail{
	/*style*/
	font-size: 36pt; 
}

.header .pos-detail {
	display: inline-block;
	background: linear-gradient(to top, rgba(0,0,0,0) 20%, #ED7D86 20%, #ED7D86 35%, rgba(0,0,0,0) 35%);
}

@keyframes emphasize {
	from {
		background: linear-gradient(to top, rgba(0,0,0,0) 20%, #ED7D86 20%, #ED7D86 35%, rgba(0,0,0,0) 35%);
	}

	to {
		background: #ED7D86;
	}
}

.header .pos-detail:hover {
	animation-name: emphasize;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}